Source: mnemosyne
Section: misc
Priority: extra
Maintainer: Robert Lemmen <robertle@semistable.com>
Build-Depends: debhelper (>= 8.0.0), python3, dh-python, python3-setuptools
Standards-Version: 3.9.2
X-Python3-Version: >= 3.5
Homepage: http://www.mnemosyne-proj.org

Package: mnemosyne
Architecture: all
Depends: ${python3:Depends}, python3 (>= 3.5), python3-pyqt5,
    python3-pyqt5.qtsql, python3-pyqt5.qtwebchannel,
    python3-pyqt5.qtwebengine, python3-matplotlib, python3-cherrypy3,
    python3-webob, libqt5sql5-sqlite, libqt5webengine5
Description: spaced repetition flash-card program
 The Mnemosyne software resembles a traditional flash-card program to help you
 memorise question/answer pairs, but with an important twist: it uses a
 sophisticated algorithm to schedule the best time for an item to come up for
 review. Difficult items that you tend to forget quickly will be scheduled more
 often, while Mnemosyne won't waste your time on things you remember well.
